<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Person</title>
    <link rel="stylesheet" th:href="@{/resources/style.css}">
</head>

<body>

<nav th:replace="fragments/navbar.html :: navbar"/>

<h1>Person list</h1>

<a th:href="@{/person/form}">Create person</a>
<p>
<form method="get" th:action="@{/person}">
    <label for="minAge">Min age</label><input type="number" id="minAge" name="minAge" th:value="${minAge}">
    <label for="maxAge">Max age</label><input type="number" id="maxAge" name="maxAge" th:value="${maxAge}">
    <button type="submit">Apply</button>
</form>
</p>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>

    <tr th:if="${personPage.hasContent()}" th:each="person : ${personPage.content}">
        <td th:text="${person.firstName}">FN</td>
        <td th:text="${person.lastName}">LN</td>
        <td th:text="${person.age}">12</td>
        <td th:text="${person.email}">email</td>
    </tr>

    <tr th:unless="${personPage.hasContent()}">
        <td class="empty_table" colspan="4">Nothing to show</td>
    </tr>

</table>

<div th:if="${personPage.hasContent()}" class="pagination">
    <a th:href="@{/person(page=${1}, size=${personPage.size}, minAge=${minAge}, maxAge=${maxAge})}">&laquo;</a>

    <a th:each="num: ${#numbers.sequence(1, personPage.totalPages)}"
       th:classappend="${num == personPage.number + 1} ? 'active'"
       th:href="@{/person(page=${num}, size=${personPage.size}, minAge=${minAge}, maxAge=${maxAge})}">[[${num}]]</a>

    <a th:href="@{/person(page=${personPage.totalPages}, size=${personPage.size}, minAge=${minAge}, maxAge=${maxAge})}">&raquo;</a>
</div>

</body>
</html>