<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" th:href="@{/resources/style.css}">
</head>
<body>

<h1>Our Products</h1>

<nav th:replace="fragments/navbar.html :: navbar"/>

<p>
    <form method="get" th:action="@{/product}">
        <label for="minPrice">minPrice</label><input type="number" id="minPrice" name="minPrice" th:value="${minPrice}">
        <label for="maxPrice">maxPrice</label><input type="number" id="maxPrice" name="maxPrice" th:value="${maxPrice}">
        <button type="submit">Apply</button>
    </form>
</p>



<table>
    <tr>
        <th>Title</th>
        <th>Price</th>
    </tr>


    <tr th:if="${productPage.hasContent()}" th:each="product : ${productPage.content}">
        <td th:text="${product.name}">Title</td>
        <td th:text="${product.price}">Price</td>
    </tr>

    <tr th:unless="${productPage.hasContent()}">
        <td colspan="2" class="empty_table">Nothing to show</td>
    </tr>

</table>

<div th:if="${productPage.hasContent()}" class="pagination">
    <a th:href="@{/product(page=${1}, size=${productPage.size}, minPrice=${minPrice}, maxPrice=${maxPrice})}">&laquo;</a>

    <a th:each="num: ${#numbers.sequence(1, productPage.totalPages)}"
       th:classappend="${num == productPage.number + 1} ? 'active'"
       th:href="@{/product(page=${num}, size=${productPage.size}, minPrice=${minPrice}, maxPrice=${maxPrice})}">[[${num}]]</a>

    <a th:href="@{/product(page=${productPage.totalPages}, size=${productPage.size}, minPrice=${minPrice}, maxPrice=${maxPrice})}">&raquo;</a>
</div>

</body>
</html>