<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="navbar" class="navbar">
    <a th:href="@{/person}">Persons</a>
    <a th:href="@{/product}">Products</a>
    <a th:href="@{/order}">Orders</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/user}">User</a>

    <form sec:authorize="isAuthenticated()" th:action="@{logout}" method="post">
        <button class="logout_btn" type="submit">Logout <span sec:authentication="principal.username"></span></button>
    </form>

    <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
</nav>

</html>